* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #777;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.horizontal-rule-border {
  border: 2px solid #777;
  margin-bottom: 5px;
}

.horizontal-rule-border2 {
  margin-top: 15px;
}

.text-padding {
  padding-left: 15px;
  margin-top: 10px;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.title-logo {
  margin-top: 20px;
  margin-left: 20px;
}

.title-sub {
  margin-top: 0;
  padding-top: 0px;
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.text-wrap {
  word-wrap: break-word;
  color: #fff;
}

.article-padding {
  padding-bottom: 10px;
  padding-top: 20px;
}

.appify-margin {
  margin-top: 16px;
}

.mockup-margin {
  margin-top: 6px;
}

hr {
  height: 3px;
}

.image-margin {
  margin-left: auto;
  margin-right: auto;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
  .grid {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .grid {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .grid {
    width: 1170px;
  }
}

.row {
    width: 100%;
    display: flex;
}

.head-color {
  background-color: #777;
  display: block;
}

.row-color {
  background-color: #F06529;
  border-top: 2px solid;
}
